/* login section ----- */
.login {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    max-width: 550px;
    margin: 30px autp;
    padding-top: 30px;

}
.login h1{
    font-family: 'Roboto';
    font-weight: 900;
    font-size: 24px;
    margin-bottom: 20px;
}
.login form{
    display: flex;
    flex-direction: column;
    width: 100%;
    padding: 5px;
}
.login form input{
    padding: 20px 5px;
    font-size: 17px;
    border: 0.5px solid var(--border);
    border-radius: 5px;
    margin-bottom: 15px;
    outline: none;
}
.login form input:focus{
    border: 2px solid var(--bgColor);
}
.login span {
    display: flex;
    width: 100%;
    justify-content: center;
    margin-top: 20px;
}
.login span a{
    padding: 5px 10px;
}
.login span a:hover{
    text-decoration: underline;
}
.login_err{
    color: red;
}

/* sign up section ----- */
.signup{
    display: flex;
    flex-direction: column;
    width: 100%;
padding: 0 10px 150px 10px;
background-color: white;
}
.signup_header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 40px;
    overflow: hidden;
}
.signup_header > h1, .signup_page1 h1, .signup_page2 h1, .signup_page3 h1{
    font-family: 'Roboto';
    font-weight: 900;
    font-size: 20px;
    margin: 20px 0 20px 0;
}

/* Signup page 1 ----*/
.signup_page1{
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    padding: 0 20px;
background-color: white;
}
.signup_page1 a{
    margin: 20px 0 ;
    cursor: pointer;
}
.signup_page1 a:hover {
text-decoration: underline;
}
.signup_page1 h3, .signup_page2 h3{
    font-family: Roboto;
font-weight: 900;
margin: 0;
padding-bottom: 3px;
}
.signup_page1 p{
    font-size: 15px;
    color: rgb(83, 83, 83);
}
.signup_page1_date{
    display: flex;
    width: 100%;
    gap: 10px;
}
@media screen and (max-width: 750px){
    .signup{
        display: flex;
        flex-direction: column;
        width: 100%;
        padding: 0 10px 150px 10px;
        background-color: white;
    }
    .signup_page3, .signup_page2, .signup_page1{
        padding: 0 0px;
    }
}

/* Page 2 section ------ */
.signup_page2{
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    padding: 0 20px;
}
.signup_page2 > span {
    display: flex;
    align-items: flex-start;
    width: 100%;
    padding-top: 10px;
}
.signup_page2 > p {
    padding-top: 20px;
}

/* Page 3 section ------- */
.signup_page3{
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    padding: 0 20px;
}
.signup_page3 p {
    padding: 40px 0 20px 0;
}