.home{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: 100%;
    overflow: hidden;
}
.home_main{
    display: flex;
    width: 100%;
    height: 100%;
}
.home_main main{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    background-color: white;
    width: 100%;
    height: 100%;
    padding-top: 10px;
    z-index: 2;
}
.home_main_login{
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-wrap: nowrap;
    flex: 1 1;
}
.home_main_login > span > input {
    font-size: 15px;
    padding: 20px 8px;
    border-radius: 5px;
    border: 0.5px solid rgb(136, 183, 189);
    outline: none;
    margin: 5px ;
}
.home_main_login > span > button {
    padding: 15px 30px;
    background-color: white;
    border-radius: 50px;
    font-weight: 700;
    color: var(--bgColor);
    border: 0.5px solid var(--bgColor);
    cursor: pointer;
}
.home_main_login > span > button:hover{
    background-color: rgba(132, 191, 214, 0.377);
}
.home_main_login > span > input:focus{
border: 1px solid var(--bgColor);
}
.home_main_login a {
    color: var(--bgColor);
    font-weight: 400;
    font-size: 13px;
    padding-top: 5px;
}
.home_main_create{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 100%;
    max-width: 380px;
    padding-bottom: 200px;
}
.home_main_create p {
    font-weight: 700;
    font-size: 15px;
    margin: 0;
    padding: 60px 0 10px 0;
}
.home_main_create a {
    border: 0.5px solid var(--bgColor);
    padding: 14px ;
    width: 100%;
    border-radius: 60px;
    margin-bottom: 15px;
    text-align: center;
    color: var(--bgColor);
    font-weight: 900;
    font-size: 15px;
}
.home_main_create a:hover{
    background-color: rgba(183, 222, 238, 0.377);
    transition: 0.3s;
}
#colored_btn{
    background-color: var(--bgColor);
    color: white;
}
#colored_btn:hover{
    background-color: rgb(23, 149, 221);
    transition: 0.3s;
}
.home_main_create h1 {
    font-weight: 900;
    font-size: 28px;
    color: black;
    font-family: 'Roboto';
    text-transform: capitalize;
}
.home_main_create_icon{
    color: var(--bgColor);
    font-size: 11px;
    padding-bottom: 15px;
}

.home aside {
display: flex;
align-items: center;
justify-content: center;
width: 100%;
height: 100%;
    background-color: rgb(116,202,254);
}
.home aside{
    position: relative;
}
.home aside ul {
    z-index: 1;
    display: flex;
    flex-direction: column;
    gap: 40px;
}
.home aside ul li {
    font-weight: 600;
    font-size: 20px;
    color: white;
}
.home aside ul li span {
    padding-right: 20px;
}
.home_aside_backgroundImage{
    position: absolute;
    font-size: 1200px;
    top: 50%;
    left: -15%;
    color: var(--bgColor);
}
.home footer{
    width: 100%;
    z-index: 2;
    background-color: white;
}
.home_footer_login{
    display: none;
}
@media screen and (max-width: 1000px){
.home_main_login{
    display: none;
}
.home_main main{
    justify-content: center;
}
.home_main_create{
    padding-bottom: 0;
}
}
@media screen and (max-width: 800px){
    .home_main{
        display: flex;
        flex-direction: column-reverse;
        width: 100%;
        height: 100%;
    }
    .home_main main {
        padding: 10px;
    }
    .home aside{
        padding: 50px 0;
    }
   
    .home_aside_backgroundImage{
        font-size: 500px;
        top: 50%;
        left: 45%;
        color: var(--bgColor);
    }
    .home_footer_login{
        display: flex;
        gap: 15px;
        align-items: center;
        justify-content: center;
        width: 100%;
        z-index: 2;
        background-color: white;
        padding: 50px 10px;
    }
    .home_footer_login a {
    border: 0.5px solid var(--bgColor);
    padding: 14px ;
    width: 170px;
    border-radius: 60px;
    text-align: center;
    color: var(--bgColor);
    font-weight: 900;
    font-size: 15px;
    }
    
}
@media screen and (max-width: 400px){
    .home aside ul li {
        font-weight: 600;
        font-size: 17px;
        padding: 10px 0;
        color: white;
    }
    .home aside ul li span {
        padding-right: 10px;
    }
    .home_footer_login a{
        margin: 5px;
    }
}